@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
.dark {
  --foreground: #121212;
  --purple: #6C63FF;
  --light_purple: #9292FD;
  --inputbg : #f3f3f3;
  --background: black;
  --fileBox : #161616;
  --fileText : #8b8b8b;
    --text: white;
    --svgtxt: white;
    --accent: #18181b;
    --shadow: 0 2px 16px 0 #000000b3;
    --radius: 8px;
    --label: oklch(38% 0 0);
    --border-color: #222;
    --text_input: #fafafa;
    --purple: #6c63ff;
    --light_purple: #9292fd;
}
.light {
    --label: whitesmoke;
    --background: #fafafa;
    --foreground: white;
    --fileBox : #FAFAFA;
    --text: #131313;
    --accent: white;
    --svgtxt: white;
    --border-table: #e5e5e5;
    --text_input: #1d1d1d6c;
    --border-color: #dedede;
    --fileText : #8b8b8b;
    --purple: #6c63ff;
    --light_purple: #9292fd;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
h1{
  font-weight: 500;
  font-size: 24px;
}
h3{
  font-weight: light;
  font-size: 14px;
}
p{
  font-size: 14px;
  font-weight: light;
}
small{
  font-size: 13px;
}
body {
  background: var(--background);
  color: var(--text);
  font-family: "Montserrat", sans-serif;
  scrollbar-width: 0px;
}

html{
  scrollbar-width: none;
}
.pulseimg{
  animation: pulse 1.5s infinite ease-in-out;
}
.colspan{
  grid-column: 2/3;
}
@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    /* transform: translateY(-5px); */
  }
}
.growWidth {
  animation: widthGrow 0.5s ease-in-out forwards;
}
.shrinkWidth {
  animation: widthShrink 0.5s ease-in-out forwards;
}
@media  (max-width: 640px) {
  .growWidth {
    animation: none;
    width: 250px;
  }
  .shrinkWidth {
    animation: none;
  }
  
}
@keyframes widthGrow {
  from { width: 60px; }
  to { width: 250px; }
}
@keyframes widthShrink {
  from { width: 250px; }
  to { width: 60px; }
}
.bounceDot{
   animation: bouncing-loader 0.6s infinite alternate;
}
.bounceDot:nth-child(2) {
  animation-delay: 0.2s;
}
 .bounceDot:nth-child(3) {
  animation-delay: 0.4s;
}
tr th{
  text-align: center;
  padding: .5rem .678rem;
  font-weight: 500;
  font-size: 14px;
    width: max-content;
}
  tr td{
  text-align: center;
   padding: .5rem .678rem;
   font-weight: 400;
   font-size:  13px;
   width: max-content;
   margin: auto;
}
table{
  width: 100%;
  border-radius: 5px;
}
tr{
  border-bottom: 1px solid var(--border-color);
}
table tbody tr:last-child{
  border-bottom: none;
}
.scrollbtn::-webkit-scrollbar-thumb{ display: none; }